$font--primary: 'Source Sans Pro', sans-serif;
$a--ease: all 180ms ease;
$a--bezier: all 180ms cubic-bezier(.25,.17,.2,1);




// Colors
$color-purple: #8060FF;
$color-red: #FF6060;
$color-yellow: #F6BB44;

$color-light-gray: #BAB7B7;
$color-gray: #727375;
$color-dark-gray: #323335;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

