@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');

$open-sans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;




// Colors
$color-grey-lighter:      #ECEDED;
$color-grey-light:        #8F9496;
$color-grey:              #454C50;
$color-grey-dark:         #212629;
$color-grey-darker:       #131617;



$color-link:       #1089B2;


// Helper Classes
.v-hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.text-bold { font-weight: 500; }




// Mobile Breakpoints
$mobile-tiny: ( max:  767px );
$mobile: ( min:  768px );
$tablet: ( min:  992px );
$desktop: ( min: 1200px );
$desktop-large: ( min: 1440px );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}