@import '_variables.css';

body {
  background-color: var(--color-bg);
  color: var(--color-grey-light);
  font-family: var(--font-rubik);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media (--tablet) {
    padding: 40px 70px;
  }

  @media (--desktop) {
    padding: 70px 100px;
  }
}


/* Typography */
a {
  color: var(--color-grey-light);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-link);
  }
}

h1 {
  color: var(--color-grey);
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p { 
  font-size: 16px;

  @media (--tablet) {
    font-size: 18px;
  }
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: var(--color-grey-light);
  padding: 10px 16px;
  border-radius: 3px;
  font-family: var(--font-rubik);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-bg);
  letter-spacing: 1.1px;
}


/* Logo Color */
.vl-logo { fill: var(--logo-color); }
.vl-logo--stroke { stroke: var(--logo-color); }


/* Homepage Styling */
.logo {
  width: 250px;
  height: 100%;

  @media (--tablet) {
    width: 320px;
  }

  @media (--desktop) {
    width: 400px;
  }
}

.lead {
  font-size: 52px;
  font-weight: 500;
  color: var(--color-grey-lighter);
  margin: 50px 0;

  @media (--tablet) {
    font-size: 80px;
    margin: 70px 0;
  }

  @media (--desktop) {
    font-size: 96px;
    margin: 100px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media (--tablet) { 
    display: grid;
    grid-template-columns: 60% 20% 20%;
   }
}
