---
title: Welcome to Eiffel
---

<img class="vl-logo" src="http://vaultlabs.co/assets/vl-logo-white.png" />

<h1>
  Eiffel is Running
</h1>

<p><%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
</p>