<div class="container eiffel">
  <div class="eiffel__intro">
    <h1><%= tag :img, :src => data.home.logo_img_url, :class => "logo" %> <%= data.home.title %></h1>
    <p class="lead"><%= data.home.subhead %></p>
    <p><%= data.home.description %></p>
  </div>

  <hr>

  <div class="eiffel__features">
  <h2>Features</h2>
    <ul>
      <li><a href="https://middlemanapp.com/Middleman" target="_blank" rel="noopener">Middleman</a> — Static site generator built in Ruby<br /><small>pre-configured with live-reloading, asset minification, favicon generation, and extra support for managing mutli-page sites (directory indexes, body class for identifying actively loaded page)</small></li>
      <li><a href="https://webpack.js.org/" target="_blank" rel="noopener">Webpack 4.0</a> — External asset loader for Sass, BabelJS, and Webfont support</li>
      <li><a href="https://github.com/postcss/autoprefixer" target="_blank" rel="noopener">Autoprefixer</a> to add all neccesary CSS vendor prefixes (automagically)</li>
      <li>Basic SASS grid framework, variable system, and basic utility classes</li>
      <li>Pre-Configured with <a href="https://www.netlifycms.org/" target="_blank" rel="noopener">NetlifyCMS</a> for simple content management</li>
    </ul>
  </div>

  <div class="eiffel__links">
    <a class="eiffel__links__github" href="https://github.com/Anthonytr/Eiffel" target="_blank" rel="noopener"><img src="/images/github-logo.svg"> GitHub</a>
    <a class="eiffel__links__netlify" href="https://app.netlify.com/start/deploy?repository=https://github.com/Anthonytr/Eiffel" target="_blank" rel="noopener"><img src="/images/netlify-deploy.svg"></a>
  </div>
</div>